<!DOCTYPE html>
<html lang="en" class="js ss-loaded">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vandan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='VAN.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pro.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='flower.css') }}">   <!--- navbar css 3 line -->
    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>
</head>
<body id="top">
    <div id="page" class="s-pagewrap ss-home">
        <header>
            <div class="logo"></div>
            <nav>
                <div class="menu-icon" onclick="toggleMenu()">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <ul class="nav-links">
                    <li><a href="{{url_for('index')}}"><span>Home</span></a></li>
                    <li><a href="{{url_for('projects')}}"><span>Projects</span></a></li>
                    <li><a href="{{url_for('about')}}"><span>About</span></a></li>
                    <li><a href="{{url_for('contact')}}"><span>Contact</span></a></li>
                </ul>
            </nav>
        </header>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const menuIcon = document.querySelector('.menu-icon');
            const navLinks = document.querySelector('.nav-links');
            function toggleMenu() {
                menuIcon.classList.toggle('open');
                navLinks.classList.toggle('open');
            }
            menuIcon.addEventListener('click', toggleMenu);
        });
    </script>
    <main>
        <div class="vandan">
            <div class="hero-text">
                    <h2>👋 Hi there, I'am <span>Vandan</span> </h2>
                    <p> Currently, I'm studying Artificial Intelligence and Data Science at CVM University.</p>
                    <ul></ul>
                    <br>
            </div>
            <div class="hero-image">
                    <img src="./static/images/van.jpg" alt="vandan">
                </div>
        </div>
    </main>
        <section id="content" class="s-content">
            <div id="bricks" class="bricks">
                <div class="masonry">
                    <div class="bricks-wrapper ss-animated" data-animate-block=" "> 
                        <div class="grid-sizer"></div>
                        <article class="brick entry">
                            <div class="entry__thumb">
                                <a href="{{ url_for('karl_pearson') }}" class="thumb-link">
                                    <img src="./static/images/karl1.jpg" 
                                        srcset="./static/images/karl1.jpg 1x, ./static/images/karl2.jpg 2x" >
                                </a>
                            </div>  
                            <div class="entry__text">
                                <div class="entry__header">
                                    <div class="entry__meta">
                                        <span class="cat-links">
                                            <a href="{{ url_for('karl_pearson') }}">Project</a>
                                        </span>
                                        <span class="post-date">
                                            <a href="{{ url_for('karl_pearson') }}"></a>
                                        </span>
                                    </div>
                                    <h1 class="entry__title"><a href="{{ url_for('karl_pearson') }}">Calculation of Karl Pearson's Coefficient of Correlation from Scratch.</a></h1>
                                </div>
                                <div class="entry__excerpt">
                                    <p>
                                        calculating Karl Pearson's Coefficient of Correlation from scratch. Understanding the step-by-step process enhances comprehension of the statistical concepts involved in measuring the strength and direction of linear relationships between variables.
                                    </p>
                                </div>
                                <a class="entry__more-link" href="{{ url_for('karl_pearson') }}">Read More</a>
                            </div>
                        </article>
                        <article class="brick entry">
                            <div class="entry__thumb">
                                <a href="{{ url_for('karl_pearson') }}" class="thumb-link">
                                    <img src="./static/images/Quora1.jpeg" 
                                        srcset="./static/images/Quora1.jpeg 1x, ./static/images/Quora2.png 2x" >
                                </a>
                            </div> 
                            <div class="entry__text">
                                <div class="entry__header">
                                    <div class="entry__meta">
                                        <span class="cat-links">
                                            <a href="{{ url_for('karl_pearson') }}">Project</a>
                                        </span>
                                        <span class="post-date">
                                            <a href="{{ url_for('karl_pearson') }}"></a>
                                        </span>
                                    </div>
                                    <h1 class="entry__title"><a href="{{ url_for('karl_pearson') }}">By Using Natrual language processing  </a></h1>
                                </div>
                                <div class="entry__excerpt">
                                    <p>
                                        calculating Karl Pearson's Coefficient of Correlation from scratch. Understanding the step-by-step process enhances comprehension of the statistical concepts involved in measuring the strength and direction of linear relationships between variables.
                                    </p>
                                </div>
                                <a class="entry__more-link" href="{{ url_for('karl_pearson') }}">Read More</a>
                            </div>
                        </article>
            </div>  
        </section>  
    <script src="./index_files/plugins.js.download"></script>
    <script src="./index_files/main.js.download"></script>
<script>
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
    function toggleMenu() {
        var menu = document.getElementById("menu");
        menu.classList.toggle("active");
      }

</script>
 
</body>
</html>
