<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>PersonalTrainer</title>
</head>
<body>
    <div>
        <!-- Navbar -->
        <div class="w3-top w3-text-white w3-black">
            <div class="w3-bar  ">
              <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
              <a href="{{url_for("index")}}" class="w3-bar-item w3-button w3-padding-large">Home</a>
              <a href="{{url_for("projects")}}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Projects</a>
              <a href="{{url_for("about")}}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">About</a>
              <a href="{{url_for("contact")}}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Contact</a>
            </div>
          </div>
  
          <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
          <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
              <a href="{{url_for("index")}}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">About</a>
              <a href="{{url_for("projects")}}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Projects</a>
              <a href="{{url_for("about")}}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">ABOUT</a>
            <a href="{{url_for("contact")}}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Contact</a>
          </div>
          



          
    <script>
      function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else { 
          x.className = x.className.replace(" w3-show", "");
        }
      }
    </script>
</body>
</html>