<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Photos</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='art.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor.css') }}"> 

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


     
    <p>Practical 5
    Write an assembly Program to perform the addition of two 8 bit number.
           LXI H,1050                               ; load memory address to H register
           MOV A,M                                 ; move data from  memory(M) to Register A (Accumulator) 
           INX H                                         ; Increment H register value by 1  (16 bit)
           ADD M                                       ; perform addition A= A+M
           STA 1052                                   ; store accumulator vale to Memory location
           HLT
    # ORG 1050                           ; Origin Assembler Directive    memory allocation start at memory loc
    # DB 55H,66H                       ; Data Byte:  Assembler Directive stores data in continues memory loc
    
    </p>

    <br>
    <br>
    Write an assembly Program to perform the addition of two 8 bit number.
    LXI H, 1050@ 
    MOV A, M @ 
    INX H @ 
    SUB M @ 
    
    STA 1052 @ 
    HLT@ 
# ORG 1050 
# DB 95H, 65H
<br>
<br>
Write an assembly Program to find Smallest Number from an Array.
LXI H,2200H                                       ; Initialize the memory pointer
MOV B, M                                          ; Copy contents of memory to register B
INX H                                                   ; Set pointer for array Load the Count
MOV A, M                                           ; Set 1st element as smallest number
DCR B                                                   ; Decrement the count
LOOP: INX H                                         ; Get the next number
            CMP M                                      ; If A- reg < M go to AHEAD
            JC AHEAD                                  ; Jump to ahead if Carry=1
            MOV A, M                                 ; Set the new value as smallest
AHEAD: DCR B                                      ; Decrement the counter
JNZ LOOP                                ; Repeat comparisons till count = 0
STA 2300H                                             ; Store the largest value at 2300
HLT                                                         ; Terminate the program

#ORG 2200
#DB 04h, 34h, A9h, 78H, 56H

<br>
<br>

</body>
</html>

